.cd-transparent-btn {
    border: none;
    background-color: transparent;
    outline: none;
    border-radius: 3px;
    height: 30px;
    width: 30px;
    font-size: 16px;
    padding: 0;
}

.cd-transparent-btn:hover {}

.cd-transparent-btn:active {}

.cd-context-menu {
    font-size: 14px;
}

.cd-image-holder img[src="#"],
.cd-image-holder img:not([src]) {
    display: none !important;
}

.cd-image-holder {
    overflow: hidden
}

.cd-image-holder img[src="#"]+.cd-image-holder-icon::after,
.cd-image-holder img:not([src])+.cd-image-holder-icon::after {
    content: "\F21F";
    font: normal normal normal 24px/1 "Material Design Icons";
    -webkit-font-smoothing: antialiased;
    text-rendering: auto;
    -moz-osx-font-smoothing: grayscale;
}

.cd-representative-board {
    display: inline-block;
    width: 250px;
    height: 120px;
    box-shadow: 3px 3px 5px 0px rgba(0, 0, 0, 0.75);
    border-radius: 4px;
    background-color: white;

}

.cd-representative-board-header {
    border-radius: 4px 4px 0 0;
}


.cd-representative-board-body {
    padding: 5px;
}

.cd-representative-board-name {
    text-align: center;
}

.cd-representative-board:not(.cd-status-pin) .cd-representative-board-flat-ctn .mdi-pin,
.cd-representative-board:not(.cd-status-important) .cd-representative-board-flat-ctn .mdi-alert-circle,
.cd-representative-board:not(.cd-status-delay) .cd-representative-board-flat-ctn .mdi-clock-alert-outline,
.cd-representative-board:not(.cd-status-phone) .cd-representative-board-flat-ctn .mdi-phone,
.cd-representative-board:not(.cd-status-meeting) .cd-representative-board-flat-ctn .mdi-account-multiple,
.cd-representative-board:not(.cd-status-priority) .cd-representative-board-flat-ctn .cd-representative-board-flat-priority,

.cd-task-card:not(.cd-status-pin) .cd-task-card-flat-ctn .mdi-pin,
.cd-task-card:not(.cd-status-important) .cd-task-card-flat-ctn .mdi-alert-circle,
.cd-task-card:not(.cd-status-delay) .cd-task-card-flat-ctn .mdi-clock-alert-outline,
.cd-task-card:not(.cd-status-phone) .cd-task-card-flat-ctn .mdi-phone,
.cd-task-card:not(.cd-status-meeting) .cd-task-card-flat-ctn .mdi-account-multiple,
.cd-task-card:not(.cd-status-priority) .cd-task-card-flat-ctn .cd-task-card-flat-priority {
    display: none;
}


.cd-representative-board-context-btn-ctn,
.cd-list-board-context-btn-ctn,
.cd-task-card-context-btn-ctn {
    position: absolute;
    right: 5px;
    top: 5px;
    height: 30px;
    width: 30px;
    box-sizing: border-box;
}

.cd-taskcard-context-btn-ctn button:hover,
.cd-representative-board-context-btn-ctn button:hover,
.cd-task-card-context-btn-ctn button:hover,
.cd-list-board-context-btn-ctn button:hover {
    background-color: #91e4fb;

}

.cd-board-manager {}

.cd-board-manager-header {
    background-color: rgb(235, 235, 235);
    height: 30px;
    padding-left: 5px;
}

.cd-board-manager-title {
    font-weight: bold;
    line-height: 30px;
    font-size: 14px;
}

.cd-board-manager-body {
    border-left: 1px solid black;
    border-right: 1px solid black;
    border-bottom: 1px solid black;
    box-sizing: border-box;
}

.cd-board-manager-body .cd-representative-board,
.cd-board-manager-body .cd-board-plus {
    margin: 10px;
}


.cd-board-manager:not(.cd-board-manager-has-plus-board) .cd-board-plus {
    display: none;
}



.cd-board-plus {
    width: 90px;
    height: 90px;
    text-align: center;
    display: inline-block;
    vertical-align: middle;
    box-shadow: 3px 3px 5px 0px rgba(0, 0, 0, 0.75);
    background-color: white;
}

.cd-board-plus:hover {
    background-color: rgb(240, 240, 240);
}

.cd-board-plus:active {
    box-shadow: 1px 1px 2px 0px rgba(0, 0, 0, 0.75);
}

.cd-board-plus .mdi {
    color: rgb(73, 84, 92);
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.75);
    font-size: 50px;
    line-height: 90px;
    border-radius: 4px;
    width: 90px;
    height: 90px;
    font-weight: 900;
}


.cd-list-board {
    box-shadow: 2px 3px 5px 0px rgba(0, 0, 0, 0.75);
    background-color: white;
    border-radius: 4px;
    width: 250px;
    display: inline-block;
    vertical-align: top;
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(235, 235, 235);
}

.cd-list-board-header {
    height: 30px;
    padding-left: 10px;
    position: relative;
}


.cd-list-board-title,
.cd-task-card-title {
    line-height: 30px;
}



.cd-list-board-quick-menu,
.cd-task-card-quick-menu {
    font-size: 12px;
}

.cd-list-board-plus-card-ctn {
    padding: 10px;
}

.cd-list-board-body {
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
}


.cd-list-board-body>.cd-task-card {
    margin-bottom: 10px;
}

.cd-list-board-plus-card {
    text-align: center;
    line-height: 30px;
    background-color: rgb(214, 214, 214);
    border-radius: 4px;
    font-weight: bold;
    cursor: pointer;
}


.cd-task-card {
    border-radius: 4px;
    box-shadow: 2px 2px 3px 0px rgba(0, 0, 0, 0.75);
    background-color: white;
}

.cd-task-card img {
    user-drag: none;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-drag: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    pointer-events: none;
}

.cd-task-card-title {
    font-weight: bold;
}

.cd-task-card-body {
    padding: 10px;
}

.cd-task-card-header,
.cd-representative-board-header {
    position: relative;
    border-bottom: 1px solid #ddd;
    height: 41px;
    box-sizing: border-box;
}

.cd-task-card-header-icon,
.cd-representative-board-header-icon {
    height: 30px;
    width: 30px;
    line-height: 30px;
    vertical-align: middle;
    display: inline-block;
    text-align: center;
    margin: 5px;
}

.cd-task-card-flat-ctn,
.cd-representative-board-flat-ctn {
    position: absolute;
    right: 45px;
    top: 5px;
    height: 30px;
    font-size: 16px;

}

.cd-task-card-flat,
.cd-representative-board-flat {
    width: 30px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    font-size: 16px;
    color: rgb(255, 50, 50);
    margin-left: 10px;
}

/*  mdi-numeric-9-plus-box*/
/*# sourceURL=card://css/boardcard.css */